# Ignore the virtual environment directory (venv)
venv/

# Ignore the images directory where images are stored
images/

# Ignore all __pycache__ directories, which store Python bytecode
**/__pycache__/

# Ignore all data directories, which store data files 
data/

# Ignore all logs directories, which store log files
logs/

# Ignore all thesis directories, which store thesis files
src/thesis/